{{ partial "header.html" . }}
<section class="g-bg-cover g-bg-size-cover g-bg-white-gradient-opacity-v1--after" data-bg-img-src="./header.jpg" style="background-image: url(./header.png);">
      <div class="container text-center g-pos-rel g-z-index-1 g-pb-50">
        <div class="row d-flex justify-content-center align-content-end flex-wrap g-min-height-500">
          <div class="col-lg-7 mt-auto">
            <div class="mb-5">
                <h1 class="g-color-white g-font-weight-600 g-mb-30">{{ .Title }}</h1>
            </div>
          </div>
        </div>
      </div>
</section>
<section id="content">
    <div class="container g-py-50">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="g-mb-60">
                    <div class="u-heading-v2-1--bottom text-center g-color-primary  g-brd-primary">
 						            <h3 class="h3 u-heading-v2__title g-font-secondary">{{ .Title }}</h3>
                    </div>
                    <div class="g-color-primary g-brd-primary g-mb-20">
                        {{ partial "authors.html" . }}
 						            <span class="posted-on">
                            <time class="entry-date published" date="{{ .Date }}">{{ .Date.Format .Site.Params.DateForm }}</time>
                        </span>
                    </div>
                    <div class="text-justify">
                        {{ .Content }}
                    </div>
                </div>

                <div class="row">
			              <div class="col-sm-8 col-sm-offset-2">

				                <div id="share">
                            {{ if .Site.Params.share }}
                            {{ partial "sharethis.html" . }}
                            {{ end }}
				                </div>
			              </div>
		            </div> <!-- /row share -->
		            <div class="clearfix"></div>

		            <div class="row">
			              <div class="col-sm-8 col-sm-offset-2">

				                <div id="comments">
                            {{ if .Params.Comments }}
                            {{ partial "disqus.html" . }}
                            {{ end }}
				                </div>
			              </div>
		            </div> <!-- /row comments -->
		            <div class="clearfix"></div>

            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
