{{ partial "header.html" . }}
{{ $header := .Resources.GetMatch "header*" }}
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
    <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero"
         style="height: 130%; background-image: url({{ if $header }}{{ $header.RelPermalink }}{{ end }}); transform: translate3d(0px, -103.635px, 0px);">
    </div>
    <div class="u-bg-overlay_iiner">
        <div class="container g-color-white text-center g-bg-cover__inner g-pb-100 g-pt-150">

            <div class="col-lg-12">
                <div class="g-mb-20">
 						        <h1 class="h1 g-font-secondary">{{ .Title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container g-py-50">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="g-mb-60">
                    <div class="u-heading-v1-1 text-center g-bg-main g-brd-primary g-mb-20">
                        <h2 class="h3 test-center u-heading-v1__title">{{ .Title }}</h2>
                    </div>

                    <div class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-5">
                        <div class="media align-items-center g-pb-10">
                            {{ partial "authors.html" . }}
                        </div>
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                </div>
                <div class="text-justify">
                    {{ .Content }}
                </div>
            </div>

		        <div class="clearfix"></div>

		        <div class="row">
			          <div class="col-sm-8 col-sm-offset-2">

				            <div id="comments">
                        {{ if .Site.Params.comments }}
                        {{ partial "disqus.html" . }}
                        {{ end }}
				            </div>
			          </div>
		        </div> <!-- /row comments -->
		        <div class="clearfix"></div>

        </div>
    </div>
    </div>
</section>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{- .Site.Params.addThis -}}" async></script>
{{ partial "footer.html" . }}
