<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>{{ .Title }}</title>

	<link rel="shortcut icon" href="/{{ .Site.Params.favicon }}">

	<!-- Bootstrap -->
  <link href="/css/bootstrap.css" rel="stylesheet">
	<!-- Icons -->
  <link href="/css/font-awesome.min.css" rel="stylesheet">
	<!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" href="/css/dzsparallaxer.css">
  <link rel="stylesheet" href="/css/scroller.css">
  <link rel="stylesheet" href="/css/hs.megamenu.css">
  <link href="/css/yamm.css" rel="stylesheet" type="text/css">
	<!-- Custom styles -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">

	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->

    {{ if .Site.Params.customsharethis }}
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
    {{ end }}
        <!-- "outputStyle" "compressed"  -->
    {{ $options := (dict "targetPath" "cdodev.css" "enableSourceMap" true "includePaths" (slice "assets/scss")) }}
   {{ $sass := resources.Get "scss/unify.scss" }}
   {{ $style := $sass | resources.ToCSS $options }}

   <link href="{{ $style.RelPermalink }}" rel="stylesheet">
	 <!-- <link rel="stylesheet" href="/css/cdodev.css"> -->


</head>
<body>
    <main>
    {{ partial "menu.html" . }}
