{{ if .Site.Params.showSubheader }}
{{ partial "subheader.html" . }}
{{ end }}
{{ if .Site.Params.showServices }}
<div class="container">
    {{ partial "services.html" . }}
</div>	<!-- /container -->
{{ end }}

{{ if .Site.Params.showRecentWorks }}
<div class="container">
    {{ partial "recentworks.html" . }}
</div>	<!-- /container -->
{{ end }}

{{ if .Site.Params.showDownload }}
<div class="container">
    {{ partial "download.html" . }}
</div>	<!-- /container -->
{{ end }}

{{ if .Site.Params.showClients }}
<div class="container">
    {{ partial "clients.html" . }}
</div>	<!-- /container -->
{{ end }}
