<nav class="navbar navbar-expand sticky-top transparent-header" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img src="/{{ .Site.Params.avatar }}" alt="Commando Development"></a>
    </div>
    <div class="navbar-collapse collapse justify-content-end">
        <ul class="nav navbar-nav navbar-cdodev">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="nav-item text-uppercase">
                <a class='nav-link {{ if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }} active{{ end }}'
                   href="{{ .URL }}">{{ .Name }}
                </a>
            </li>
            {{end}}
        </ul>
    </div><!--/.nav-collapse -->
    <!--container-->
</nav>
