{{ partial "header.html" . }}
<div class="container g-py-110">
    {{ partial "page-heading.html" . }}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-justify">
            {{ with .Resources.GetMatch "my-story.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-justify">
            {{ with .Resources.GetMatch "the-rm.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-justify">
            {{ with .Resources.GetMatch "teaching-myself.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-justify">
            {{ with .Resources.GetMatch "progression.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-justify">
            {{ with .Resources.GetMatch "full-circle.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>

    <div class="row">
        <div class="mx-auto g-my-30">
            <img alt="enso" src="/img/Enso.svg"/>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
