{{ partial "header.html" . }}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-3 center-heading">
                <h2>To show tech driven businesses how to achieve operational excellence</h2>
                <p>It's a state of mind</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            {{ .Content }}
        </div>
        <div class="col-lg-4">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            {{ with .Resources.GetMatch "my-story.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
