{{ partial "header.html" . }}
<div class="container">
    <div class="row jumbotron">
        <div class="col-lg-6">
            {{ .Content }}
        </div>
        <div class="col-lg-6">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-6">
            {{ with .Resources.GetMatch "my-story.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {{ with .Resources.GetMatch "the-rm.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-6">
            {{ with .Resources.GetMatch "teaching-myself.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>

</div>
{{ partial "footer.html" . }}
