/* Add here all your css styles (customizations) */

// Variables
@import "custom.variables";

// Mixins
@import "custom.mixins";

footer#footer { min-height:170px; padding-bottom: 0; }

.navbar {
    padding: 0;
    .navbar-brand {
        padding: 0;
        img { height: 87px; }
    }

}
