// Add here all your customized variables
$g-color-primary: #087B38;


$g-font-primary: "Raleway", "Open Sans", Helvetica, Arial, sans-serif !default;

$g-font-primary-size: 16px;

:root {
    --blue-1: #0E1520;
    --blue-2: #212D60;
    --blue-3: #2E3192;
    --blue-4: #4151B0;
    --blue-5: #6991CB;
    --blue-6: #94C1D7;
    --blue-7: #BBDBE0;
    --blue-8: #D1E6E6;
    --blue-9: #DAE8E6;
    --green-1: #08110A;
    --green-2: #0F371C;
    --green-3: #0B5C29;
    --green-4: #087B38;
    --green-5: #209953;
    --green-6: #4DB479;
    --green-7: #8FCEAA;
    --green-8: #C0DFCE;
    --green-9: #D6EBDF;
    --red-1: #200E17;
    --red-2: #58162E;
    --red-3: #881026;
    --red-4: #AB2A0B;
    --red-5: #BF5017;
    --red-6: #D17F3A;
    --red-7: #E3B267;
    --red-8: #EDD795;
    --red-9: #F3EBC4;
    --grey-1: #141416;
    --grey-2: #3F3F45;
    --grey-3: #62636C;
    --grey-4: #838590;
    --grey-5: #9EA2AE;
    --grey-6: #B5BAC8;
    --grey-7: #C9D0DE;
    --grey-8: #D7E0EE;
    --grey-9: #E1EDFA;
}

$g-color-green-6: var(--green-6);
$g-color-green-9: var(--green-9);

.g-bg-green-6 {
    color: $g-color-green-9;
    background-color: $g-color-green-6;
}

// from palettte.app: https://palettte.app/
// [
//   {
//     "paletteName": "blues",
//     "swatches": [
//       {
//         "name": "blue-1",
//         "color": "0E1520"
//       },
//       {
//         "name": "blue-2",
//         "color": "212D60"
//       },
//       {
//         "name": "blue-3",
//         "color": "2E3192"
//       },
//       {
//         "name": "blue-4",
//         "color": "4151B0"
//       },
//       {
//         "name": "blue-5",
//         "color": "6991CB"
//       },
//       {
//         "name": "blue-6",
//         "color": "94C1D7"
//       },
//       {
//         "name": "blue-7",
//         "color": "BBDBE0"
//       },
//       {
//         "name": "blue-8",
//         "color": "D1E6E6"
//       },
//       {
//         "name": "blue-9",
//         "color": "DAE8E6"
//       }
//     ]
//   },
//   {
//     "paletteName": "greens",
//     "swatches": [
//       {
//         "name": "green-1",
//         "color": "08110A"
//       },
//       {
//         "name": "green-2",
//         "color": "0F371C"
//       },
//       {
//         "name": "green-3",
//         "color": "0B5C29"
//       },
//       {
//         "name": "green-4",
//         "color": "087B38"
//       },
//       {
//         "name": "green-5",
//         "color": "209953"
//       },
//       {
//         "name": "green-6",
//         "color": "4DB479"
//       },
//       {
//         "name": "green-7",
//         "color": "8FCEAA"
//       },
//       {
//         "name": "green-8",
//         "color": "C0DFCE"
//       },
//       {
//         "name": "green-9",
//         "color": "D6EBDF"
//       }
//     ]
//   },
//   {
//     "paletteName": "reds",
//     "swatches": [
//       {
//         "name": "red-1",
//         "color": "200E17"
//       },
//       {
//         "name": "red-2",
//         "color": "58162E"
//       },
//       {
//         "name": "red-3",
//         "color": "881026"
//       },
//       {
//         "name": "red-4",
//         "color": "AB2A0B"
//       },
//       {
//         "name": "red-5",
//         "color": "BF5017"
//       },
//       {
//         "name": "red-6",
//         "color": "D17F3A"
//       },
//       {
//         "name": "red-7",
//         "color": "E3B267"
//       },
//       {
//         "name": "red-8",
//         "color": "EDD795"
//       },
//       {
//         "name": "red-9",
//         "color": "F3EBC4"
//       }
//     ]
//   },
//   {
//     "paletteName": "greys",
//     "swatches": [
//       {
//         "name": "grey-1",
//         "color": "141416"
//       },
//       {
//         "name": "grey-2",
//         "color": "3F3F45"
//       },
//       {
//         "name": "grey-3",
//         "color": "62636C"
//       },
//       {
//         "name": "grey-4",
//         "color": "838590"
//       },
//       {
//         "name": "grey-5",
//         "color": "9EA2AE"
//       },
//       {
//         "name": "grey-6",
//         "color": "B5BAC8"
//       },
//       {
//         "name": "grey-7",
//         "color": "C9D0DE"
//       },
//       {
//         "name": "grey-8",
//         "color": "D7E0EE"
//       },
//       {
//         "name": "grey-9",
//         "color": "E1EDFA"
//       }
//     ]
//   }
// ]
