{{ partial "header.html" . }}
{{ with .Site.GetPage "/home" }}
{{ with .GetPage "elite-development.md" }}

  {{ partial "top-paralax.html" (dict "title" .Title "subtitle" .Content) }}
{{ end }}
<section id="content" >
    <div class="container g-pt-20 g-pb-50">
        {{ with .GetPage "who-am-i.md" }}
        <div class="row g-py-20">
            <div class="col-lg-6 text-justify">
                {{ .Content }}
            </div>
            <div class="col-lg-4 offset-lg-1 my-auto">
                {{ with .Site.GetPage "quotes/know-one-thing.md" }}
                {{ partial "quote.html" (dict "page" . "title" false "author" true) }}
                {{ end }}
            </div>
        </div>
        {{ end }}
        {{ with .GetPage "principle.md" }}
        <div class="row">

            <div class="col-lg-4 offset-lg-1 my-auto">
                {{ with .Site.GetPage "quotes/principle.md" }}
                {{ partial "quote.html" (dict "page" . "title" true "author" false) }}
                {{ end }}
            </div>

            <div class="col-lg-6 offset-lg-1">
                {{ .Content }}
            </div>
        </div>
        {{ end }}
        {{ with .GetPage "purpose.md" }}
        <div class="row">
            <div class="col-lg-6">
                <div class="u-heading-v2-1--bottom text-left g-color-primary  g-brd-primary g-mb-20">
 						        <h3 class="h3 u-heading-v2__title g-font-secondary">{{ .Title }}</h3>
                </div>
                <div class="text-justify">
                    {{ .Content }}
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 my-auto">
                {{ with .Site.GetPage "quotes/aligning-vectors.md" }}
                {{ partial "quote.html" (dict "page" . "title" true "author" true) }}
                {{ end }}
            </div>
        </div>
        {{ end }}
        {{ with .GetPage "people.md" }}
        <div class="row">

            <div class="col-lg-4 offset-lg-1 my-auto">
                {{ with .Site.GetPage "quotes/lead-like-a-gardener.md" }}
                {{ partial "quote.html" (dict "page" . "title" true "author" true) }}
                {{ end }}
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="u-heading-v2-1--bottom text-right g-color-primary  g-brd-primary g-mb-20">
 						        <h3 class="h3 u-heading-v2__title g-font-secondary">{{ .Title }}</h3>
                </div>
                <div class="text-justify">
                    {{ .Content }}
                </div>

            </div>
        </div>
        {{ end }}
        {{ with .GetPage "practices.md" }}
        <div class="row">
            <div class="col-lg-6">
                <div class="u-heading-v2-1--bottom text-left g-color-primary  g-brd-primary g-mb-20">
 						        <h3 class="h3 u-heading-v2__title g-font-secondary">{{ .Title }}</h3>
                </div>
                <div class="text-justify">
                    {{ .Content }}
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 my-auto">
                {{ with .Site.GetPage "quotes/do-nothing.md" }}
                {{ partial "quote.html" (dict "page" . "title" false "author" true) }}
                {{ end }}
            </div>
        </div>
        {{ end }}

    </div>
</section>
<section id="ooda" class="g-bg-blue-light">
    <div class="container g-py-50 g-pb-300">
        {{ with .GetPage "ooda.md" }}
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="u-heading-v2-1--bottom text-center g-color-primary  g-brd-primary g-mb-20">
 						        <h2 class="h2 text-uppercase u-heading-v2__title g-font-secondary">So what's the single principle?</h2>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-2">
                {{ .Content }}
            </div>
            <div class="col-lg-6 offset-lg-3 my-auto">
                {{ with .Site.GetPage "quotes/strategic-game.md" }}
                {{ partial "quote.html" (dict "page" . "title" true "author" true) }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ partial "footer.html" . }}
