{{ partial "header.html" . }}
<div class="container g-py-110">
    <div class="row">
        <div class="col-lg-12">
            <div class="u-heading-v1-4 text-center g-bg-main g-brd-primary g-mb-20">
                <h1 class="h1 u-heading-v1__title">{{ .Title }}</h1>
            </div>
        </div>
        <div>
        {{ .Content }}
        </div>
    </div>
    <div class="row topspace">
        {{ range .Paginator.Pages }}
        <div class="col-sm-6">

            <article class="post">
                <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"><time class="entry-date published" date="{{ .Date }}">{{ .Date.Format .Site.Params.DateForm }}</time></span>
                    </div>
                    <h1 class="entry-title"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h1>
                </header>
                <div class="entry-content">
                    {{ .Summary }}
                </div>
            </article>

        </div>
        {{ end }}
    </div>

    <center class="">
        <ul class="pagination">
            {{ template "_internal/pagination.html" . }}
        </ul>
    </center>


</div>	<!-- /container -->
{{ partial "footer.html" . }}
