/* Add here all your css styles (customizations) */

// Variables
@import "custom.variables";

// Mixins
@import "custom.mixins";

footer#footer { min-height:170px; padding-bottom: 0; }

.navbar {
    padding: 0;
    .navbar-brand {
        padding: 0;
        img { height: 87px; }
    }

}

#calendly {
    // height: 280px;
    .calendly-header {
        padding-bottom: 570px;
    }
    .calendly-widget {
        overflow: hidden;
        // border-radius: 5px;
        // padding: 5px 5px;
        width: 100%;
        height: 680px;
    }
}

#footer {
    padding-top: 80px;
}
