// Add here all your customized variables
$g-color-primary: #087B38;


$g-font-primary: "Raleway", "Open Sans", Helvetica, Arial, sans-serif !default;
$g-font-secondary: "Roboto", "Open Sans", Helvetica, Arial, sans-serif !default;

$g-font-primary-size: 16px;

:root {
    --blue-1: #040C20;
    --blue-2: #1B2946;
    --blue-3: #42516E;
    --blue-4: #6A7C99;
    --blue-5: #92A7C3;
    --blue-6: #B0C5DB;
    --blue-7: #C5D7E7;
    --blue-8: #D4E2ED;
    --blue-9: #DDE9F1;

    --green-1: #030A07;
    --green-2: #072F1E;
    --green-3: #07572E;
    --green-4: #087B38;
    --green-5: #1E9E48;
    --green-6: #57C372;
    --green-7: #92DB9E;
    --green-8: #C0E5C3;
    --green-9: #D7ECD7;

    --red-1: #200E17;
    --red-2: #58162E;
    --red-3: #881026;
    --red-4: #AB2A0B;
    --red-5: #BF5017;
    --red-6: #D17F3A;
    --red-7: #E3B267;
    --red-8: #EDD795;
    --red-9: #F3EBC4;
    --grey-1: #141416;
    --grey-2: #3F3F45;
    --grey-3: #62636C;
    --grey-4: #838590;
    --grey-5: #9EA2AE;
    --grey-6: #B5BAC8;
    --grey-7: #C9D0DE;
    --grey-8: #D7E0EE;
    --grey-9: #E1EDFA;
}

$g-color-blue-1: var(--blue-1);
$g-color-blue-2: var(--blue-2);
$g-color-blue-3: var(--blue-3);
$g-color-blue-6: var(--blue-6);
$g-color-blue-9: var(--blue-9);
$g-color-green-6: var(--green-6);
$g-color-green-9: var(--green-9);

@mixin fg-bg($fg, $bg) {
    color: $fg;
    background-color: $bg;
}

.g-bg-blue-dark { @include fg-bg($g-color-blue-9, $g-color-blue-1); }

.g-bg-green-6 { @include fg-bg($g-color-green-9, $g-color-green-6); }

.g-bg-blue-light { @include fg-bg($g-color-blue-1, $g-color-blue-9);}

%bg-blue-dark {
    @include fg-bg($g-color-blue-9, $g-color-blue-2);
    a {
        color: $g-color-blue-6;
    }
}

.bg-blue-dark { @extend %bg-blue-dark; }

.g-blue-shadow {
    @include fg-bg($g-color-blue-9, $g-color-blue-3);
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 15px 15px -2px $g-color-blue-2;
    -moz-box-shadow: 0px 15px 15px -2px $g-color-blue-2;
    box-shadow: 0px 15px 15px -2px $g-color-blue-2;
}
