{{ partial "header.html" . }}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
 						<h1 class="entry-title text-center">My Mission</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2>{{ .Content }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            {{ with .Resources.GetMatch "mission-sec-1.md" }}
            {{ .Content }}
            {{ end }}
        </div>
    </div>
{{ partial "footer.html" . }}
</div>
